body{
    background-color: black;
    
}
.element{
    color: green;
    text-align: center;
}
 

.el_nu_sy{
    border: 1px solid white;
    padding: 30px;
    height: 200px;
    width: 100%;
    text-align: center;
}
.atomic_number{
    color: whitesmoke;
   
}
 

.symbo{
    color: pink;
}

.discription{
    
    height: 400px;
    width: 100%;
    border: 3px solid green;
    padding: 30px;
}
h3{
    color: moccasin;
}

 