{% load static %}
<!DOCTYPE html>
<html lang="eng">
    <head>
        <title>details</title>
        <link rel="stylesheet" href="{% static 'details.css' %}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        </head>
        <body>


   
<div class="el_nu_sy">
    <h1 class="element">{{substance.element}}</h1>

   <h3 class="atomic_number">Atomic Number : {{substance.atomic_number}}</h3>
    
   <h1 class="symbo">  {{substance.symbol}}</h1>

   
</div>
<br>

<div class="discription" >
    <h3 >🟢
        {{substance.element}}({{substance.symbol}}) is a {{substance.phase}}
        with atomic number {{substance.atomic_number}}. It has {{substance.number_of_protons}} protons,
         {{substance.number_of_electrons}} electrons, and {{substance.number_of_neutrons}} neutrons
         in its nucleus, belonging to Group {{substance.group}} and Period {{substance.period}} of 
         the periodic table. It has {{substance.number_of_isotopes}} isotopes.</h3>
        
         {%  if substance.natural %}
         <h3>🟢 {{substance.element}} is a natural occurrence</h3>
         {% endif %}

         {%  if substance.radioactive %}
         <h3>🟢 {{ substance.element}} is a radioactive element.</h3>
         {% else %}
         <h3>🟢 {{ substance.element}} is a non-radioactive element.</h3>
         {% endif %}


         {%  if substance.metal %}
         <h3>🟢 {{ substance.element}} is a metal  with an atomic mass of 
          {{substance.atomic_mass}}, an atomic radius of {{substance.atomic_radius}},
          and an electronegativity of {{substance.electronegativity}}.</h3>
         {% else %}
         <h3>🟢 {{ substance.element}} is a non-metal with an atomic mass of 
          {{substance.atomic_mass}}, an atomic radius of {{substance.atomic_radius}},
          and an electronegativity of {{substance.electronegativity}}.</h3>
         {% endif %}

         {% if substance.discoverer and substance.year %}
         <h3> 🟢 {{substance.element}} was  discovered by {{substance.discoverer}} in {{substance.year}}</h3>
         {% endif %}


<h3>🟢 It has a melting point of {{substance.melting_point}}°C, boiling point of {{substance.boiling_point}}°C,
density of {{substance.density}}, specific heat of {{substance.specific_heat}}, and exists in a  {{substance.phase}} phase 
at room temperature. It has {{substance.number_of_shells}} electron shells and {{substance.number_of_electrons}} valence electron(s).

    </h3>
    <button><a href="{% url 'table' %}">Back</a></button>
    </div>

 
   

  
        </body>
    </head>
</html>