{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <title>table view</title>
    <link rel="stylesheet" href="{% static 'table.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
     
    <div class="heading_cont">
        <h1 class="heading">Periodic Table</h1>
    </div>
    
      <div class="row two">
       {% for el in substance%}
       {% if el.atomic_number <= 2 %}
        
       <div 
        class="eliment {{el.element|lower}}" >
    
         <span class="name">{{ el.element}}</span>
        <a href="{% url 'details' el.atomic_number %}"><span ><h3 class="row1"> {{ el.symbol}} </h3></span></a>
        <span>{{ el.atomic_number}}</span>
       </div>



       {% elif el.atomic_number > 2 and el.atomic_number < 11 %}
      
       <div class="eliment {{el.element|lower}}">
        <a href="{% url 'details' el.atomic_number %}"><span ><h3 class="row1"> {{ el.symbol}} </h3></span></a>
        <span class="name">{{ el.element}}</span>
        <span>{{ el.atomic_number}}</span>
        </div>


       
       {% elif el.atomic_number > 10 and el.atomic_number < 19 %}
        

       <div class="eliment {{el.element|lower}}"  >
        <a href="{% url 'details' el.atomic_number %}"><span ><h3 class="row1"> {{ el.symbol}} </h3></span></a>
        <span class="name">{{ el.element}}</span>
        <span>{{ el.atomic_number}}</span>
        
       </div>
        


       {% elif el.atomic_number > 18 and el.atomic_number < 37 %}

       <div class="eliment {{el.element|lower}}">
        <a href="{% url 'details' el.atomic_number %}"><span ><h3 class="row1"> {{ el.symbol}} </h3></span></a>
        <span class="name">{{ el.element}}</span>
        <span>{{ el.atomic_number}}</span>
        
       </div>

       {% elif el.atomic_number > 36 and el.atomic_number < 55 %}

       <div class="eliment {{el.element|lower}}">
        <a href="{% url 'details' el.atomic_number %}"><span ><h3 class="row1"> {{ el.symbol}} </h3></span></a>
        <span class="name">{{ el.element}}</span>
        <span>{{ el.atomic_number}}</span>
        
       </div>

       {% elif el.atomic_number > 54  and el.atomic_number < 57 or  el.atomic_number > 71 and el.atomic_number < 87  %}
       
       <div class="eliment {{el.element|lower}}">
        <a href="{% url 'details' el.atomic_number %}"><span ><h3 class="row1"> {{ el.symbol}} </h3></span></a>
        <span class="name">{{ el.element}}</span>
        <span>{{ el.atomic_number}}</span>
        
       </div>
      

       {% elif el.atomic_number > 86  and el.atomic_number < 89 or  el.atomic_number > 103 and el.atomic_number < 119 %}
       
       <div class="eliment {{el.element|lower}}">
        <a href="{% url 'details' el.atomic_number %}"><span ><h3 class="row1"> {{ el.symbol}} </h3></span></a>
        <span class="name">{{ el.element}}</span>
        <span>{{ el.atomic_number}}</span>
        
       </div>

         
        {% endif %}
       {% endfor %}
    
    </div>

<br><br>

    <div class="bottom1 two">
      {% for el in substance%}

      {% if el.atomic_number > 56  and el.atomic_number < 72 %}
       
       <div class="bottom_eliments {{el.element|lower}}">
        <a href="{% url 'details' el.atomic_number %}"><span ><h3 class="row1"> {{ el.symbol}} </h3></span></a>
        <span class="name">{{ el.element}}</span>
        <span>{{ el.atomic_number}}</span>
        
       </div>
       
       {% endif %}
       {% endfor %}
    </div>


       <div class="bottom2 two">
       {% for el in substance%}


       {% if el.atomic_number > 88  and el.atomic_number < 104 %}
        
        
        <div class="bottom_eliments_last {{el.element|lower}}" >
            <a href="{% url 'details' el.atomic_number %}"><span ><h3 class="row1"> {{ el.symbol}} </h3></span></a>
            <span class="name">{{ el.element}}</span>
         <span>{{ el.atomic_number}}</span>
        </div>
         
       {% endif %}
       {% endfor %}
    </div>      
    
    <br><br>
    <div class="color_code">
        <h1 class="heading2">colors</h1>
       
        <h2 class="type1">Solid</h2>    
        <h2 class="type2">Liquide</h2>    
        <h2 class="type3">Gas</h2>    
        <h2 class="type4">Artificial</h2>    
        
    </div>
</body>
</html>
